<h1>Posts</h1>
<%# @posts.each do |p| %>
<!--<a href="/posts/<%#=p.id %>"><%#= p.title %></a><br>-->
<%# end %>
<%= link_to 'My Blog', controller: 'posts' %><br>
<%= link_to 'New post', new_post_path %>

<br>
  <%= form_tag("/posts/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  <% end %>
  
  <br><br>
  <% if !params[:q].nil? %>
  <p>Showing results for : <%= params[:q] %></p>
  <% end %>
  

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  
 <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br><br><br><%= link_to "Sign in with Facebook", "/auth/facebook" %><br>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %><br>
  <%= link_to "Sign in with Google", "/auth/google" %>